{% extends 'main.html' %}

{% block content %}

<body>
  {% include "librariannavbar.html" %}
  <br>
  <center><h1 style=" margin-bottom: 0px;"class = 'alert alert-success'>Librarian Area</h1></center>
  <div class="jumbotron"   style="    margin-bottom: 0px;">
      <center><h1 class="display-4">Welcome {{user.username}}</h1></center>
      <div class="options" style="text-align:center">
          <a href="issuebooks" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Issue Books</a><br><br>
      </div>
      <div class="options" style="text-align:center">
      <a href="updateissues" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Updated Issued Books</a><br><br>
      </div>
  </div>
</body>
  
{% endblock %}
