{% extends 'main.html' %}

{% block content %}

  {% include "navbar.html" %}
  <br>
  <center><h1 style=" margin-bottom: 0px;"class = 'alert alert-success'>Librarian Login</h1></center>
  <div class="jumbotron"   style="    margin-bottom: 0px;">
    <form method="POST" action="">
      {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <br>
      {% for message in messages%}
        <br><p id="messages">{{message}}</p>
      {% endfor %}
      <div class="mb-3">
        Don't have an account? <a href="{% url 'librariansignup' %}">Sign up</a>
      </div>
</div>

{% endblock %}