{% extends 'main.html' %}
{% block content %}
    <h1>Librarian Sign Up Area</h1>
</br>
    <form method="POST" action="">
      {% csrf_token %}
        <div class="mb-3">
         {{userform.username}}
        </div>
        <div class="mb-3">
         {{userform.email}}
        </div>
        <div class="mb-3">
         {{userform.password1}}
        </div>
        <div class="mb-3">
         {{userform.password2}}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      
      {{userform.errors}}
      
      <div class="mb-3">
        Already have an account? <a href="{% url 'librarianlogin' %}">Login</a>
      </div>

{% endblock %}