{% extends 'main.html' %}

{% block content %}

<body>

    {% include "studentnavbar.html" %}
    <br>
    <center><h1 style=" margin-bottom: 0px;"class = 'alert alert-success'>Request Books As {{user.get_username}}</h1></center>
    <div class="jumbotron"   style="    margin-bottom: 0px;">

        <form method="POST" action="">
            {% csrf_token %}
            <p>{{requestbooksform.book_serial.label}}:</p>
            <p>{{ requestbooksform.book_serial}}</p>
            {% for message in messages%}
                <br><p id="messages">{{message}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Request</button>
        </form>
        
    </div>
{% endblock %}