{% extends 'main.html' %}
{% block content %}
    <h1>Student Sign Up Area</h1>
</br>
    <form method="POST" action="">
      {% csrf_token %}
        <div class="mb-3">
         Roll: {{userform.username}}
        </div>
        <div class="mb-3">
         Confirm Roll: {{studentdataform.roll}}
      </div>
        <div class="mb-3">
         Name: {{studentdataform.name}}
        </div>
        <div class="mb-3">
         Contanct Number: {{studentdataform.number}}
        </div>
        <div class="mb-3">
         Email: {{userform.email}}
        </div>
        <div class="mb-3">
         Confirm Email: {{studentdataform.email}}
        </div>
        <div class="mb-3">
         Department: {{studentdataform.department_code}}
        </div>
        <div class="mb-3">
         Password {{userform.password1}}
        </div>
        <div class="mb-3">
         Confirm Password: {{userform.password2}}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>

{% endblock %}