{% extends 'main.html' %}

{% block content %}

<body>
  {% include "studentnavbar.html" %}
  <br>
  <center><h1 style=" margin-bottom: 0px;"class = 'alert alert-success'>Student Area</h1></center>
  <div class="jumbotron"   style="    margin-bottom: 0px;">
      <center><h1 class="display-4">Welcome {{user.username}}</h1></center>
      <div class="options" style="text-align:center">
          <a href="requestbooks" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Request Books</a><br><br>
      </div>
      <div class="options" style="text-align:center">
      <a href="viewissued" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Books Issued To You</a><br><br>
      </div>
  </div>
</body>

{% endblock %}
