{% extends 'main.html' %}

{% block content %}

  {% include "navbar.html" %}
  <br>
  <center><h1 style=" margin-bottom: 0px;"class = 'alert alert-success'>Student Account Creation</h1></center>
  <div class="jumbotron"   style="    margin-bottom: 0px;">
    <form method="POST" action="">
      <form method="POST" action="">
      {% csrf_token %}
        <div class="mb-3">
         {{userform.username}}
        </div>
        <div class="mb-3">
         {{studentdataform.roll}}
      </div>
        <div class="mb-3">
         {{studentdataform.name}}
        </div>
        <div class="mb-3">
         {{studentdataform.number}}
        </div>
        <div class="mb-3">
         {{userform.email}}
        </div>
        <div class="mb-3">
         {{studentdataform.department_code}}
        </div>
        <div class="mb-3">
         {{studentdataform.session}}
        </div>
        <div class="mb-3">
         {{userform.password1}}
        </div>
        <div class="mb-3">
         {{userform.password2}}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      
      </br>
      {{userform.errors}}

      <div class="mb-3">
        Already have an account? <a href="{% url 'studentlogin' %}">Login</a>
      </div>
  </div>
</body>

{% endblock %}