{% extends 'main.html' %}
{% load bootstrap4 %}

{% block extrahead %}
{{ issuebooksform.media }}
{% endblock %}

{% block content %}

<body>

    {% include "librariannavbar.html" %}
    <br>
    <center><h1 style=" margin-bottom: 0px;"class = 'alert alert-success'>Update or Delete Issued Books</h1></center>
    <div class="jumbotron"   style="    margin-bottom: 0px;">

        <form method="POST" action="">
            {% csrf_token %}
            {{issuebooksform.as_p}}
            {% for message in messages%}
                <br><p id="messages">{{message}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        
    </div>
{% endblock %}